#topBox {
    -fx-background-color: rgb(55, 62, 74);
}

#contentBox {
    -fx-background-color: rgb(48, 54, 65);
}

#footerBox {
    -fx-background-color: rgb(55, 62, 74);
}

.dark-bg-content {
    -fx-background-color: rgb(48, 54, 65);
}

.button {
    -fx-background-color: #373e4a;
    -fx-border-color: #454a54;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-alignment: left;
    -fx-padding: 15px 20px 15px 20px;
    -fx-text-fill: white;
    transition: all 300ms ease-in-out;
}

.button:hover {
    -fx-background-color: #454a54;
    -fx-border-color: #373e4a;
}

.text-field {
    -fx-padding: 6px 12px 6px 12px;
    -fx-border-radius: 3px;
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: white;
    float: left;
    height: 31px;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.text-field:focused {
    -fx-background-color: #454a54;
}

.text-field-box {
    -fx-background-color: #373e4a;
    -fx-border-color: #454a54;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    transition: all 300ms ease-in-out;
    background-clip: padding-box;
}

.text-field-box-focused {
    -fx-background-color: #454a54;
    -fx-border-color: #454a54;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
    -fx-background-color: rgb(48, 54, 65);
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-content {
    -fx-background-color: rgb(48, 54, 65);
}