#topBox {
    -fx-background-color: rgb(55, 62, 74);
    -fx-border-bottom-color: #3d4855;
    -fx-border-bottom-width: 5px;
    -fx-border-bottom-style: solid;
}

#contentBox {
    -fx-background-color: rgb(48, 54, 65);
}

#actionPane {
    -fx-background-color: rgb(55, 62, 74);
}

.table-cell {
    -fx-alignment: CENTER;
}

.hyperlink {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-text-decoration: none;
}

.hyperlink:hover {
    -fx-text-fill: lightgray;
    -fx-text-decoration: underline;
}

.combo-box {
    -fx-background-color: #373e4a;
    -fx-border-color: #454a54;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    transition: all 300ms ease-in-out;
    background-clip: padding-box;
}

.combo-box .cell {
    -fx-background-color: #373e4a;
    -fx-text-fill: lightgray;
}

.combo-box .cell:hover {
    -fx-background-color: #454a54;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button, #viewPermsBtn, #logoutBtn {
    -fx-background-color: #373e4a;
    -fx-border-color: #454a54;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-alignment: left;
    -fx-padding: 15px 20px 15px 20px;
    -fx-text-fill: white;
    transition: all 300ms ease-in-out;
}

.button:hover, #viewPermsBtn:hover, #logoutBtn:hover {
    -fx-background-color: #454a54;
    -fx-border-color: #373e4a;
}

.button:pressed {
    -fx-background-color: #5a606d;
    -fx-border-color: #373e4a;
}

#lblUsername, #lblPassword {
    -fx-text-fill: white;
}

#hboxUsername, #hboxPassword {
    -fx-background-color: #373e4a;
    -fx-border-color: #373e4a;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    transition: all 300ms ease-in-out;
    background-clip: padding-box;
}

#tfUsername, #tfPassword {
    -fx-padding: 6px 12px 6px 12px;
    -fx-border-radius: 3px;
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: white;
    float: left;
    height: 31px;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

#lblCleanStatus {
    -fx-text-fill: white;
}